.main {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
}

@media (min-width: 768px) {
    .main {
        background-position: center;
        background-attachment: fixed;
    }
}