{% extends 'base.html' %}

{% block title %}
Add - Shortly
{% endblock title %}

{% block content %}
<section id="add" style="padding-top: 200px">
    <div class="main" style="font-family: 'Grand Hotel',cursive;">
        <h1 class="logo cursive text" style="color: #fff; font-size: 82px; text-align: center;">Shortly</h1>
            <div class="container">
                <div class="col">
                    <div class="link">
                        <input class="form-control link m3-md-2 text-center transparent tr-text-2" name="short_url" id="shortUrl" value="shortly-20.herokuapp.com/{{ link.short_url }}"><br>
                        <button type="submit" name="button" class="btn btn-danger btn-fill button" id="shortUrl" onclick="copyShortUrl()">Copy</button>
                    </div>
                </div>
            </div>
    </div>

</section>
{% endblock content %}