{% extends 'base.html' %}

{% block content %}

    <div class=" container">
        <div class="row mt-2">
            <div class="col">
                <form class="" method="POST">
                    {% csrf_token %}
                    <input type="link" name="original-url" class="form-control mb-2 m3-sm-2 transparent"
                           placeholder="Paste Url Here..">
                    <button type="submit" name="button" class="btn btn-md btn-danger btn-fill">Submit</button>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}