{% extends 'base.html' %}

{% block title %}
Home - Shortly
{% endblock title %}

{% block content %}

   <div class="main">
        <h1 class="logo cursive text-center">
            Shortly
        </h1>
        <h3 class="col alight-content-center text-center ccwl">
            Create Click Worthy Links
        </h3>
            <div class="container">
                <div class="row mt-2">
                    <div class="col">
                        <form class="form-inline" method="POST" action="add.htm">
                            {% csrf_token %}
                            <input type="link" name="original-url" class="form-control mb-2 m3-sm-2 transparent" placeholder="Paste Url Here..">
                            <button type="submit" name="button" class="btn btn-danger btn-fill button">Submit</button>
                        </form>
                </div>
                    </div>
            </div>
    </div>
{% endblock %}