<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/7.1.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  <title>Home - Shortly</title>
</head>

<body>

  <div class="main" style="background-position: relative; background-image: url('assets/images/default.jpg')">

    <div class="container">
      <h1 class="logo cursive">
        Shortly
      </h1>
      <h5 class="col align-content-center"
        style="font-family: cursive; text-align: center; font-size: 26px; color: white;">
        Create Click-Worthy Links
      </h5>
      <br>

      <div class="content">
        <div class="main container text-align-content-center">
          <div class="row mt-4">
            <div class="col align-content-center">
              <form class="form-inline" method="POST" action="add.htm">
                <input type="link" name="long_url" class="form-control mb-2 m3-sm-2 transparent"
                  placeholder="Paste Url Here..">
                <br><br><button type="submit" name="button" class="btn btn-danger btn-fill">Submit</button>
              </form><br>
            </div>
          </div>
        </div>
      </div>
    </div><br><br><br><br><br><br><br>

    <script src="assets/js/jquery-1.10.2.js" charset="utf-8"></script>
    <script src="assets/js/bootstrap.min.js" charset="utf-8"></script>
</body>

</html>