{% extends 'base.html' %}

{% block content %}

    <div class="container" style="padding-right: 100px;">
      <table class="table">
        <thead>
        <tr>
          <th>Original Url</th>
          <th>Short Url</th>
          <th>Timestamps</th>
          <th>Visits</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
          <tr>
            <td>{{ url.original_url }}</td>
            <td><a href="{{ url.original_url }}" style="color: #FF3B30;">127.0.0.1:8000/{{ url.short_url }}</a></td>
            <td>{{ url.timestamp }}</td>
            <td>{{ url.visits }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
<br><br><br>
{% endblock content %}