<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/7.1.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  <title>Stats - Shortly</title>
</head>

<body>
  <div class="main" style="background-image: url('assets/images/default.jpg')">

    <div class="container">
      <div class="col-8">
        <h1 class="logo cursive">Shortly</h1><br>

        <div class="container">
          <table class="table table-striped table-dark">
            <thead class="thead-dark">
              <tr style="color: white;">
                <th>Original Url</th>
                <th>Short Url</th>
                <th>Timestamps</th>
                <th>Visits</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-success">
                <td>https://gooooooooogle.com</td>
                <td>short.ly/4Xgs5S</td>
                <td>June 10, 2020, 8:39 a.m.</td>
                <td>99,321</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="table-success">
                <td>https://youtubeeeeeee.com</td>
                <td>short.ly/4Xgs5S</td>
                <td>June 10, 2020, 8:39 a.m.</td>
                <td>54,683</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="table-success">
                <td>https://whatsapppppppppp.com</td>
                <td>short.ly/4Xgs5S</td>
                <td>June 10, 2020, 8:39 a.m.</td>
                <td>1,945</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="table-success">
                <td>https://instagraaaaaaam.com</td>
                <td>short.ly/4Xgs5S</td>
                <td>June 10, 2020, 8:39 a.m.</td>
                <td>2,909</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="table-success">
                <td>https://facebooooooook.com</td>
                <td>short.ly/4Xgs5S</td>
                <td>June 10, 2020, 8:39 a.m.</td>
                <td>2,454</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



      <script src="assets/js/jquery-1.10.2.js" charset="utf-8"></script>
      <script src="assets/js/bootstrap.min.js" charset="utf-8"></script>
</body>

</html>