{% extends 'base.html' %}

{% block content %}
<h1 class="logo cursive">Shortly</h1><br><br>
<div class="container">
    <div class="col">
        <div class="link">
            <h5 class="form-control mb-2 m3-sm-2 transparent" name="short_url" id="shortUrl">127.0.0.1:8000/{{ link.short_url }}</h5><br>
            <button type="button" class="btn btn-primary btn-fill" id="shortUrl" onclick="copyShortUrl()">Copy To Clipboard
            </button>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
</div>

<script type="text/javascript">
      function copyShortUrl() {
          /* Select the text field */
        var textToCopy = document.getElementById("shortUrl");
        textToCopy.select();
        /* For Mobile devices */
        textToCopy.setSelectionRange(0, 99999);
        /* Copy the text inside the text field */
        document.execCommand("Copy To Clipboard");
        /* Alert the copied text*/
        alert("Copied the text: " + textToCopy.value);
      }
</script>
{% endblock content %}
