{% extends 'base.html' %}

{% block content %}
<h1 class="logo cursive">Shortly</h1><br><br>
<div class="container">
    <div class="col">
        <div class="link">
            <h5 class="form-control mb-2 m3-sm-2 transparent" name="short_url" id="copyMe">127.0.0.1:8000/{{ link.short_url }}</h5><br>
            <button type="button" class="btn btn-primary btn-fill" onclick="copyMyText()">Copy To Clipboard
            </button>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
</div>

<script type="text/javascript">
      function copyMyText() {
        var textToCopy = document.getElementById("copyMe");
        textToCopy.select();
        document.execCommand("Copy To Clipboard");
      }
</script>
{% endblock content %}
