{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="logo cursive">Shortly</h1><br>

<div class="content">
  <div class="main container text-align-content-center">
    <div class="row mt-4">
      <div class="col align-content-center">
        <form class="form-inline" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          {% comment %} <input type="link" name="long_url" class="form-control mb-2 m3-sm-2 transparent" placeholder="Paste Url Here.."> {% endcomment %}
          <br><br><button type="submit" name="button" class="btn btn-danger btn-fill">Submit</button>
        </form><br>
      </div>
    </div>
    {% comment %}<div class="container">
<h5>{{ link }}</h5>
</div>{% endcomment %}
  </div>
</div>


{% endblock %}
